*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  

}
body{
  width: 1000px;
  height: auto;
  margin: 0px auto;
  padding: 0px;
  display: block;
  background-color: #f4f4f4;
  overflow: hidden;
}
header{
  width: 1000px;
  height: auto;
  text-align: center;
  color: #222;
  font-size: 35px;
  background-color: whitesmoke;
  margin: 25px auto;
}
#start header{
  height: 1000px;
  margin: 0px;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  background-color: whitesmoke;
  margin: 25px auto;
}
section{
  font-size: 30px;
  padding: 10px;
  width: 1024px;
  height: 280px;
  padding-top: 10px;
  padding-left: 50px;
}
#start section{
  height: 452px;
  padding-left: 10px;
}
section ol{
  margin-left: 25px;
  display: block;

}
#start footer{
  text-align: center;
  display: block;
  font-size: 22pt;
  width: 1024px;
  height: 30px;
}

footer{
  text-align: center;
  display: block;
  margin: 170px;
  margin-bottom: auto;
  display: block;
  font-size: 22pt;
  width: 1024px;
  height: 30px;
}
footer::before{
  content: "Julia Głąb 157628";
}
progress{
  width: 1024px;
  height: 10px;
  display: inline-block;
  position: fixed;
  bottom: 0px;
}
  
 